<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <label>School Name
            <input th:field="${note.name}" class="form-control">
        </label>
        <p class="error" th:errors="${note.name}"></p>
    </div>
    <div class="form-group">
        <label>Question
            <textarea th:field="${note.description}" class="form-control" rows="2.5" cols="37.5"></textarea>
        </label>
        <p class="error" th:errors="${note.description}"></p>
    </div>
    <div class="form-group">
        <label>Study Note
            <textarea th:field="${note.studyNote}" class="form-control" rows="5" cols="75"></textarea>
        </label>
        <p class="error" th:errors="${note.studyNote}"></p>
    </div>
    <div class="form-group">
        <label>Type
        <select th:field="${note.type}">
            <option th:each="type : ${types}"
                    th:value="${type}"
                    th:text="${type.displayName}"
            ></option>
        </select>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-dark">
    </div>
</form>

</body>
</html>